.main{
    background-image: url("https://img.freepik.com/premium-photo/photo-closeup-shot-delicious-food_829042-89.jpg");
background-size: cover;
background-position: center;
height: 100vh;
    
}
.homepage{
 width: 100%;
 position: absolute;
 top: 50%;
 transform: translateY(-50);
text-align: center;
color: white;

}
.homepage h1{
    font-size: 50px;
    margin-top: 5px;
    color: black;
}
.homepage p{
    margin: 20px auto;
    font-weight: bold;
    font-size: 20px;
    height: 25px;
    font-style: italic;
    color: black;
}
.btn{
    height: 30px;
    margin: 5px 0px;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    width: 25%;
    padding:1px;
}
.btn:hover{
    background-color: bisque;
    color: blueviolet;
}